* {
	font-family: sans-serif;
}

body {
	margin: 0 auto;
}

nav {
	min-height: 50px;
	background-color: #1F2937;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	position: sticky;
	top: 0;
}

main {
	overflow-y: scroll;
}

footer {
	background-color: #1F2937;
	color: white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p, h1, h2 {
	padding: 0;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

button {
	background-color: #3882F6;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 25px;
	margin: 10px 0;
	font-weight: 600;
}

img {
	height: 300px;
	width: 500px;
	border-radius: 15px;
	padding: 2px;
	border: 3px solid white;
}

/*Class Selectors*/

.container {
	height: 500px;
}

.left-links > a {
	font-size: 24px;
	font-weight: 900;
}

.right-links {
	display: flex;
	gap: 30px;
}

.hero {
	background-color: #1F2937;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.hero > div > button {
	border: none;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.info-box-container {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.info-box {
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.box {
	height: 100px;
	width: 100px;
	border: 2px solid #3882F6;
	border-radius: 10px;
}

.quote {
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quote > div {
	width: 40%;
}

.attr {
	float: right;
}

.action {
	display: flex;
	align-items: center;
	justify-content: center;
}

.action > div {
	color: white;
	height: 150px;
	width: 60%;
	background-color: #3882F6;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}