/*HTML Selectors*/

* {
	font-family: sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 64px;
}

main {
	padding: 0 10%;
}

footer {
	height: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}

img {
	height: 64%;
	border-radius: 15px;
	box-shadow: 2px 6px 12px black;
}

button {
	font-size: 16px;
	padding: 2px 24px;
}

/*Class Selectors*/

.left-links {
	font-size: 36px;
	font-weight: 900;
}

.right-links {
	display: flex;
	gap: 36px;
	font-size: 24px;
}

.hero {
	gap: 10%;
}

.info {
	flex-direction: column;
	justify-content: space-evenly;
}

.info-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	text-align: center;
}

.info-box > div {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 15px;
}

.info-box-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.container {
	display: flex;
	height: 80vh;
	align-items: center;
}